[submodule "submodules/weather-icons"]
	path = submodules/weather-icons
	url = https://github.com/erikflowers/weather-icons
[submodule "submodules/game-icons"]
	path = submodules/game-icons
	url = https://github.com/game-icons/icons
[submodule "submodules/clarity-icons"]
	path = submodules/clarity-icons
	url = https://github.com/vmware/clarity-assets
[submodule "submodules/jam"]
	path = submodules/jam
	url = https://github.com/michaelampr/jam
